<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
</head>

<body>
<div id="app">
  <h2>宇都</h2>
  <form v-on:submit.prevent>
    <input type="text" v-model="newItem">
    <button v-on:click="addItem">Enter</button>
  </form>

  <ul>
    <li v-for="(todo,index) in todos">
      <span v-bind:class="{done: todo.isDone}">{{todo.id}}</span>
    </li>
  </ul>
</div>
</div>
<script src="main.js"></script>
</body>
</html>
